{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "prettier"
    ],
    "rules": {
        "no-console": "error",
        "@typescript-eslint/ban-ts-comment": "off"
    },
    "parserOptions": {
        "project": "./tsconfig.json"
    }
}
